html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: $font-family;
  color: $secondary-font;
  vertical-align: baseline;
}

body {
  background-color: #D7D7D7;
  // font: $font-family;
}

h1, h2, h3, h4, h5{
  font-family: $font-family;
  color: $primary-font;
  margin: 0;
  padding: 0;
}

p {
  color: $secondary-font;
  font-family: $font-family;
  margin: 0;
}

.container {
  @include outer-container();
  background-color: #fff;
  font-family: inherit;
  overflow: auto;

}

.section {
  @include span-columns(12);
  padding: 10px;
  font-family: inherit;
  height: 100vh;
}

.half-column {
  @include span-columns(6);
}


//for flex box
.single {
  flex-grow: 1;
  width: 100%;
}

.half {
  width: 50%;
  flex-grow: 1;
}

.one-third {
  width: 33%;
  flex-grow: 1;
}

.two-third {
  width: 66%;
  flex-grow: 3;
}