.splash {
  @extend .section;
  height: 400px;

  .text, .image {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .image {
    @include omega();
    text-align: center;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    color: $secondary-font;
    margin-bottom: 5px;
  }
}
