.work {
  @extend .section;
  height: 700px;

  h2 {
    margin-bottom: 10px;
  }
}


.gallery-container {
  @include span-columns(12);
  // @include shift(1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 600px;
  overflow-y: scroll;
}

.gallery-elem {
  padding: .2em;
  height: calc(100% / 3);
  opacity: .5;
  cursor: pointer;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;

  .inner {
  height: 100%;
  position: relative;
  background: #A3A3A3;
  }

  .title {
    bottom: 10px;
    left: 10px;
    position: absolute;
  }

  &.emphasis {
    opacity: 1;
    padding: 0;
  }
}