.work {
  @extend .section;
  height: 700px;

  h2 {
    @include shift(1);
    margin-bottom: 10px;
  }
}


.gallery-container {
  @include span-columns(10);
  @include shift(1);

  background: #D3D3D3;
  height: 600px;
  overflow-y: scroll;
}

.gallery-row {
  @include span-columns(12);

  height: 200px;
  padding: .5em;

}

.gallery-elem {
  height: 100%;
  position: relative;
  background: #A3A3A3;

  .title {
    bottom: 10px;
    left: 10px;
    position: absolute;
  }
}