html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Open-sans, Helvetica, sans-serif;
  color: #454545;
  vertical-align: baseline; }

body {
  background-color: #FCFCFC; }

h1, h2, h3, h4, h5 {
  font-family: Open-sans, Helvetica, sans-serif;
  color: #202020;
  margin: 0;
  padding: 0;
  font-weight: 300; }

p {
  color: #454545;
  font-family: Open-sans, Helvetica, sans-serif;
  margin: 0; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  font-family: inherit;
  overflow: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.section, .about, .contact, .splash, .work {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 10px;
  font-family: inherit;
  height: 100vh; }
  .section:last-child, .about:last-child, .contact:last-child, .splash:last-child, .work:last-child {
    margin-right: 0; }

.half-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .half-column:last-child {
    margin-right: 0; }

.single {
  flex-grow: 1;
  width: 100%; }

.half {
  width: 50%;
  flex-grow: 1; }

.one-third {
  width: 33%;
  flex-grow: 1; }

.two-third {
  width: 66%;
  flex-grow: 3; }

@keyframes rise {
  from {
    opacity: 0;
    top: 70%; }
  to {
    opacity: 1;
    top: 50%; } }

.rise {
  animation-name: rise;
  animation-duration: 1.5s; }

.example-enter {
  opacity: 0.01; }

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.example-leave {
  opacity: 1; }

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.about p {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .about p:last-child {
    margin-right: 0; }

.contact {
  height: 50px;
  border-top: 2px solid #D8D8D8;
  border-left: 2px solid #D8D8D8;
  border-right: 2px solid #D8D8D8;
  background-color: #EFEFEF; }

.splash {
  overflow: hidden;
  padding: 0;
  position: relative; }
  .splash .text, .splash .image {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .splash .image-container {
    margin-right: 0;
    text-align: center; }
    .splash .image-container img {
      opacity: 0.2; }
  .splash h1 {
    font-size: 4em;
    font-weight: 300;
    color: #D35400; }
  .splash h2 {
    color: #454545;
    margin-bottom: 5px;
    font-weight: 400; }
  .splash p {
    font-size: 1.2em;
    margin-bottom: 10px; }

.ticker {
  background-color: #3B3B3B;
  bottom: 0;
  color: #D9D9D9;
  font-family: "Share Tech Mono";
  height: 30px;
  line-height: 30px;
  position: absolute;
  width: inherit; }
  .ticker .ticker-text {
    position: absolute;
    white-space: nowrap;
    animation-duration: 40s;
    animation-name: ticker;
    animation-timing-function: linear;
    animation-delay: 3s;
    left: 100%; }

@keyframes ticker {
  from {
    left: 100%; }
  to {
    left: -250%; } }

.work {
  height: 700px; }
  .work h2 {
    margin-bottom: 10px;
    color: #D35400;
    font-size: 2em;
    display: inline; }
  .work header {
    padding: 15px 10px; }
  .work .sub-nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    float: right; }
    .work .sub-nav:last-child {
      margin-right: 0; }
    .work .sub-nav ul {
      list-style-type: none; }
    .work .sub-nav li {
      float: left; }
    .work .sub-nav li a {
      display: block;
      margin: 5px 10px;
      text-decoration: none;
      line-height: 10px; }

.gallery-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 600px;
  overflow-y: scroll; }
  .gallery-container:last-child {
    margin-right: 0; }

.gallery-elem {
  padding: .2em;
  height: calc(100% / 3);
  opacity: .5;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  .gallery-elem .inner {
    height: 100%;
    position: relative;
    background: #A3A3A3; }
  .gallery-elem .title {
    bottom: 10px;
    left: 10px;
    position: absolute; }
  .gallery-elem.emphasis {
    opacity: 1;
    padding: 0; }
